name: Maven verify

on:
  pull_request:

jobs:
  verify:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Cache maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Run the maven verify
        run: mvn --batch-mode --update-snapshots clean verify

      - name: Save the PR number in a file
        run: echo ${{ github.event.number }} > PR_NUMBER.txt

      - name: Upload the PR number as an artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: PR_NUMBER
          path: PR_NUMBER.txt
  generate-docs:
    runs-on: ubuntu-latest
    needs: verify
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Generate the javadoc
        run: mvn --batch-mode javadoc:javadoc